/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utils*/
body{
    font-family: Arial,sans-serif;
    background-color: brown;
}

.container{
    max-width: 920px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}

button{
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
}

.button-container{
    border-radius: 5px;
}

/*Header*/
header{
    height: 100px;
    background-color: white;
    line-height: 100px;
}

#logo{
    vertical-align: middle;
    height: 70px;
    vertical-align: middle;
}

h1{
    display: inline;
    vertical-align:middle;
    font-size: 3rem;
}

/*Main*/
.button-colored{
    background-color: #1D90FF;
    color: white;
    margin: 10px 5px 10px 30px;
    border: 0px;
}

.button-uncolored{
    color: #A0938B;
    background-color: white;
    border: 1px solid rgb(156, 151, 151);
}






