/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utils*/
body{
    font-family: Arial,sans-serif;
    background-color: brown;
}

.container{
    max-width: 920px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: blue;
    border-radius: 5px;
}

button{
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
}

.button-container{
    border-radius: 5px;
    background-color: white;
}

.container-list{
    margin-top: 3px;
    background-color: white;
}

ul{
    padding-inline-start: 0;
    list-style-position: inside;
    padding-left: 40px;
    font-size: 1.2rem;
    list-style-type: none;
}

li{
    padding-top: 20px;
    padding-left: 10px;
}

.label{
    color: white;
    font-size: 0.8rem;
    border-radius: 15px;
    background-color: aqua;
    padding: 4px 8px;
    margin-left: 5px;
}

/*Header*/
header{
    height: 100px;
    background-color: white;
    line-height: 100px;
}

#logo{
    vertical-align: middle;
    height: 70px;
    vertical-align: middle;
}

h1{
    display: inline;
    vertical-align:middle;
    font-size: 3rem;
}

/*Main*/
/*Sezione Bottoni*/
.button-colored{
    background-color: #1D90FF;
    color: white;
    margin: 10px 5px 10px 30px;
    border: 0px;
}

.button-uncolored{
    color: #A0938B;
    background-color: white;
    border: 1px solid rgb(156, 151, 151);
}

/*Sezione Lista*/

.bold-li{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 40px 0px 0px 10px;
    
}

.down-arrow{
    font-size: 0.8rem;
    font-weight: lighter;
    vertical-align: middle;
    margin-right: 3px;
}

.check{
    color: #57A141;
    border: 1px solid  #57A141;
    border-radius: 50%;
    padding: 0.5px 2px;
    font-size: 1rem;
    margin-right: 3px;
}











